# ?????? ?C ???? Git ????
# ???????? .a ??β?????
# *.a
# ?? lib.a ????
# !lib.a
# ?????????????????? TODO ??????????? subdir/TODO
# /TODO
# ???? build/ ????????????
# build/
# ????? doc/notes.txt ???????? doc/server/arch.txt
# doc/*.txt
# ???? doc/ ?????????????? txt ?????
# doc/**/*.txt

**/target
/target
/target/*
*.class
/ghaya-temp-demo/vue-cli-demo/*
vue-cli-demo.zip
