<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ghaya.mybatisplus.dao.UserInfoMapper">
    <select id="findAllUserInfo2" resultType="com.ghaya.mybatisplus.entity.User_Info">
      select * from t_user_info
    </select>

</mapper>