<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--默认重用执行器-->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!--关闭一级缓存-->
        <!--<setting name="localCacheScope" value="STATEMENT"/>-->
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
                <!--# mysql 8.0以后要用这个-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true&amp;serverTimezone=UTC"/>
                          <!--value="jdbc:mysql://localhost:3306/test?useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf8"/>-->
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!--需要注册mapper.xml -->
    <mappers>
        <!--<mapper resource="com/ghaya/mapper/userMapper_java.xml"/>--><!--资源文件放在java包下需要maven当中处理资源自动导出问题，不然不会自动把xml加进去-->
        <mapper resource="mapper/userMapper.xml"/>
    </mappers>
</configuration>

