<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的dao/mapper接口-->
<!--对应接口由@Mapper注解扫描-->
<!--
要点
1.jdbcType=VARCHAR 用于传入设置空值时需要指定，否则会报错

-->


<mapper namespace="com.ghaya.mybatis.dao.UserDao">
    <!--缓存空间声明-->
    <!--<cache/>-->
    <!--<cache-ref namespace="com.ghaya.mybatis.dao.UserDao"/>-->

    <resultMap id="userResultMap" type="com.ghaya.mybatis.pojo.UserVo" autoMapping="true">

        <!--<id column="id" jdbcType="INTEGER" property="id" />-->
        <!--<result column="age" jdbcType="INTEGER" property="age" />-->
        <result property="name" column="name"></result>
        <!-- 多结果集指定 resultSet=""-->
        <!-- 嵌套查询 -->
        <!--单条-->
        <association property="userDesc"  column="id" select="selectDescByUserId">
            <!--<result property="id" column="d_id"></result>-->
            <!--<result property="userId" column="user_id"></result>-->
        </association>
        <!--多条-->
        <collection property="roles"  column="id" select="selectRoleByUserId">

        </collection>

    </resultMap>
    <sql id="baseFiled">
        id,name,age,email
  </sql>

    <select id="listUser" resultType="com.ghaya.mybatis.pojo.User">
        select * from user
    </select>

    <select id="pageUser" parameterType="com.ghaya.mybatis.pojo.query.PageObj" resultType="com.ghaya.mybatis.pojo.User">
        select * from user
        <where>
            <if test="param != null and param != ''">
                name like concat('%',#{param},'%')
                <!--     name like concat('%',#{param,jdbcType=VARCHAR},'%') -->
            </if>
        </where>
    </select>

    <select id="queryUserById" resultType="com.ghaya.mybatis.pojo.User">
        select
        <include refid="baseFiled"/>
        from user where id = #{id}
    </select>
     <insert id="insertUser" parameterType="com.ghaya.mybatis.pojo.User">
        insert into user (
        name,age,email
        ) values (
        #{name},#{age},#{email}
        )
    </insert>

    <update id="updateUserById" parameterType="com.ghaya.mybatis.pojo.User">
        update user set name=#{name},age=#{age} ,email=#{email} where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from user where id = #{id}
    </delete>


</mapper>